/*
Syntax error: Invalid CSS after "": expected selector or at-rule, was "=round-top"
        on line 1 of /Users/wsargent/work/radiator/app/stylesheets/behaviors.scss

1: =round-top
2:   :-moz-border-radius-topleft 4px
3:   :-webkit-border-top-left-radius 4px
4:   :-moz-border-radius-topright 4px
5:   :-webkit-border-top-right-radius 4px
6: 

Backtrace:
/Users/wsargent/work/radiator/app/stylesheets/behaviors.scss:1
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/scss/parser.rb:806:in `expected'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/scss/parser.rb:781:in `expected'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/scss/parser.rb:27:in `parse'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/engine.rb:205:in `_to_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/engine.rb:178:in `to_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/haml/util.rb:251:in `silence_haml_warnings'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/engine.rb:178:in `to_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/files.rb:44:in `tree_for'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin.rb:220:in `update_stylesheet'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin.rb:85:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin.rb:78:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin.rb:78:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin.rb:76:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin.rb:76:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin.rb:50:in `check_for_updates'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.16/lib/sass/plugin/rack.rb:40:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/flash.rb:182:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:32:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:12:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:31:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/rack/logger.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/static.rb:30:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:168:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:77:in `send'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:77:in `method_missing'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/rack/log_tailer.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/opt/local/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/opt/local/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/opt/local/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/opt/local/lib/ruby/1.8/webrick/server.rb:162:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/opt/local/lib/ruby/1.8/webrick/server.rb:95:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:92:in `each'
/opt/local/lib/ruby/1.8/webrick/server.rb:92:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:23:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:82:in `start'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands/server.rb:65:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:30
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:27:in `tap'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:27
./script/rails:6:in `require'
./script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected selector or at-rule, was \"=round-top\"\A         on line 1 of /Users/wsargent/work/radiator/app/stylesheets/behaviors.scss\A \A 1: =round-top\A 2:   :-moz-border-radius-topleft 4px\A 3:   :-webkit-border-top-left-radius 4px\A 4:   :-moz-border-radius-topright 4px\A 5:   :-webkit-border-top-right-radius 4px\A 6: "; }
